body {
  margin: 0px;
  padding: 0px;
}
table thead {
  background-color: brown;
  color: white;
}
table {
  background-color: #5ab9ea;
}
/* .covidimg {
  margin-left: 130px;
  margin-bottom: 10px;
} */
.covidimg {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100;
  width: 100;
  margin-bottom: 10px;
}
h2 {
  font-size: 3.5rem;
  color: #374785;
}
.corona_rot img {
  animation: gocorona 3s linear infinite;
}
@keyframes gocorona {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.virus img {
  animation: viruss 10s linear infinite;
}
@keyframes viruss {
  0% {
    transform: scale(0.75);
  }
  20% {
    transform: scale(1);
  }
  40% {
    transform: scale(0.75);
  }
  60% {
    transform: scale(1);
  }
  80% {
    transform: scale(0.75);
  }
  100% {
    transform: scale(1);
  }
}
